<div class="container-fluid beta-landing">
  <div class="row">
    <div class="col-md-8 beta-hero">
    </div>
     <div class="col-md-4 beta-intro">
       <h2>
        Find a pairing partner and help others
      </h2>
      <p>
        <strong>PairRequest</strong> is a community of Ember developers working together to solve problems through remote pairing. We are currently in private beta. For early beta access, fill out the form below.
      </p>

      {{invitation-request-form code=code on-submit=(route-action 'submit')}}
     </div>
  </div>
</div>