<header>
  <h2>Create a pair request</h2>
</header>

<main class="col-md-8">
  <form action="" class="create-request">
    <fieldset class="form-group row">
      <label class="col-md-1 form-control-label">Title</label>
      <div class="col-md-11">
        <input type="text" class="form-control" placeholder="What would you like to pair on?">
      </div>
    </fieldset>
    <fieldset class="form-group">
      <textarea rows="10" class="form-control"></textarea>
    </fieldset>
    <fieldset class="form-group tags">
      <label for="request-title">Tags</label>
      <input type="text" class="form-control">
    </fieldset>
    <button type="submit" class="btn btn-success">Submit your request</button>
  </form>
</main>


<aside class="col-md-4">
  <h3>How to ask?</h3>
  <ul>
    <li>We prefer questions that are difficult to answer without looking at code.</li>
    <li>Describe what you've done and what you'd like to pair on.</li>
  </ul>
</aside>