<form {{action 'register' on="submit"}}>
  <input type="text" value={{email}} placeholder="Email">
  <input type="password" value={{password}} placeholder="Password">
  <button {{action 'register'}}>Sign up</button>
</form>
